<mz-sidenav
  [id]="'sidenav-demo'"
  [collapseButtonId]="'menu'"
  [width]= 270>
  <mz-sidenav-header>
    Angular &amp; Materialize.
  </mz-sidenav-header>
  
  <mz-sidenav-link>
      <a [routerLinkActiveOptions]="{ exact: true }" routerLink="/" routerLinkActive ="active">Home</a>
  </mz-sidenav-link>
  <mz-sidenav-link>
      <a [routerLinkActiveOptions]="{ exact: true }" routerLink="/Services" routerLinkActive ="active">What We Offer</a>
  </mz-sidenav-link>
  <mz-sidenav-link>
      <a [routerLinkActiveOptions]="{ exact: true }" routerLink="/AboutUs" routerLinkActive ="active">About Us</a>
  </mz-sidenav-link>

  <mz-sidenav-divider></mz-sidenav-divider>

  <mz-sidenav-header>
    Social Media.
  </mz-sidenav-header>
  
  <mz-sidenav-link>
      <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i>Like Us.</a>
  </mz-sidenav-link>
  <mz-sidenav-link>
      <a href="#"><i class="fa fa-youtube" aria-hidden="true"></i>Subscribe Us.</a>
  </mz-sidenav-link>
  <mz-sidenav-link>
      <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i>Follow Us.</a>
  </mz-sidenav-link>
  
</mz-sidenav>
<button mz-button id="menu" class="red btn waves-effect waves-light" >
    Menu
</button>

<header>
    <h1>Angular &amp; Materialize</h1>   
</header>

<!-- parallax component -->
<app-parallax></app-parallax>

<!-- router -->
<router-outlet></router-outlet>

<footer>
  <p>&copy; aldocaava.</p>
  <p>Fusce leo nisi, dignissim id neque eget, gravida mattis lorem.</p>
</footer>