<section>
  <h2 class="heading">What We Offer You.</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque auctor ac ex in luctus. Quisque et arcu lectus. Integer in rhoncus lorem. Praesent id malesuada mauris. Vivamus eleifend accumsan ornare. Ut mollis tincidunt pulvinar. Quisque massa urna, commodo sed erat sit amet, tristique tempor massa. Cras risus arcu, tincidunt sed mattis pulvinar, dignissim ac mauris. Cras porttitor iaculis sapien id tincidunt.</p>
  <p>Duis erat nibh, blandit ut lobortis interdum, rutrum eu diam. Phasellus mattis diam eget turpis vehicula, id molestie sem rutrum. Mauris semper pretium est. Nulla eget leo pellentesque, sollicitudin eros et, auctor urna. Sed laoreet hendrerit mollis. Nam ac imperdiet est, sed posuere tellus. Nulla facilisi. Duis at sollicitudin sem. Vestibulum nec est nec enim cursus egestas sagittis quis leo. Duis rutrum tortor tempus nisl pharetra, ut convallis mauris sagittis.</p>
</section>

  <!-- collapsible structure -->
  <mz-collapsible
  [mode]="'accordion'"
  [onClose]="closeFunctionCallback"
  [onOpen]="openFunctionCallback"
  [popout]="false">
  <mz-collapsible-item [active]="true">
    <mz-collapsible-item-header>
        Pellentesque vehicula.
    </mz-collapsible-item-header>
    <mz-collapsible-item-body>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </mz-collapsible-item-body>
  </mz-collapsible-item>
  <mz-collapsible-item>
      <mz-collapsible-item-header>
          Ut sollicitudin id mauris sed tincidunt.
      </mz-collapsible-item-header>
      <mz-collapsible-item-body>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </mz-collapsible-item-body>
    </mz-collapsible-item>
    <mz-collapsible-item>
        <mz-collapsible-item-header>
            Sed elementum.
        </mz-collapsible-item-header>
        <mz-collapsible-item-body>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </mz-collapsible-item-body>
      </mz-collapsible-item>
</mz-collapsible>


